$hopbush: #c69 !default;
$patina: #699 !default;
$venus: #998099 !default;
$nebula: #d2e1dd !default;

$black: #000 !default;
$white: #fff !default;

$btn-disabled-opacity: 0.5 !default;

$yellow: #990;
$blue: #33a;
$green: #3c3;
$purple: #939;
$pink: $hopbush;
$orange: #f93;
$brown: #952;

